.menuLateral{
    width: 50px;
    height: 768px;
    background-color: #242423;
    margin: 0;
    float: left;
}

.botonLateral{
    width: 25px;
    height: 25px;
    margin-left: 12px;
}

.cuestionario{
    width: 400px;
    height: 600px;
    background-color: #242423;
    float: left;
    margin-left: 450px;
    margin-top: 75px;
}

label{
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-left: 30px;
    color: white;
}